<!-- <div class="Container">
<ul class="nav nav-tabs">
  <li class="nav-item">
<a class="nav-link" routerLink="/bar-chart" >LineChart</a>
  </li>
  <li class="nav-item">
<a class="nav-link" routerLink="/doughnut-chart" >DoughnutChart</a>
  </li>
  <li class="nav-item">
<a class="nav-link" routerLink="/rader-chart" >RaderChart</a>
  </li>
  <li class="nav-item">
<a class="nav-link" routerLink="/pie-chart" >PieChart</a>
  </li>
</ul>
<div>
<router-outlet></router-outlet>
</div>
</div> -->
<div class="hed">
<h1>SQTA</h1>
</div>
<app-dashboard></app-dashboard>