<div class="container-fluid">

  <div class="row">
    <div class="col-9">
        <div class="row">
          <h2 style="margin-left: 20px">QA Dashboard</h2>
          <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Project
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <span><i class="far fa-print" style="height: 10px; width: 10px;"></i></span>
        </div>
      <div class="row">
      <div class="card-group">
        <div class="card card-2">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with </p>
          </div>
        </div>
        <div class="card card-2">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting</p>
          </div>
        </div>
        <div class="card card-2">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card content. </p>
          </div>
        </div>
        <div class="card card-2">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with.</p>
          </div>
        </div>
        </div>>
      </div>
      <div class="row">
          <div class="card-group">
            <div class="card card-2">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with suppor</p>
              </div>
            </div>
            <div class="card card-2">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below </p>
              </div>
            </div>
            <div class="card card-2">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card content. </p>
              </div>
            </div>
            <div class="card card-2">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with.</p>
              </div>
            </div>
            </div>>
          </div>
    </div>
    <div class="col-3">
      <div class="card card-3">
        
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a </p>
          <p class="card-text">This is</p>
          <p class="card-text">This is</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card card-1">
        <div class="card-body">
          <h6 class="card-title">Card title</h6>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card card-1">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <app-doughnut-chart></app-doughnut-chart>
            </div>
          </div>
        </div>
    <div class="col-4">
        <div class="card card-1">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <app-pie-chart></app-pie-chart>
            </div>
          </div>
    </div>
  </div>
  <div class="row">
      <div class="col-4">
          <div class="card card-1">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <app-rader-chart></app-rader-chart>
              </div>
            </div>
      </div>
      <div class="col-4">
          <div class="card card-1">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <app-rader-chart></app-rader-chart>
              </div>
            </div>
      </div>
      <div class="col-4">
          <div class="card card-1">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <app-bar-chart></app-bar-chart>
              </div>
            </div>
      </div>
    </div>
</div>